@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$lightBasic:#99fff5;
$basic:#3cfff5;
$darkicon:#2e2e2e;
$nunito:'Nunito', sans-serif;

.addWriting{
    font-family: 'Dancing Script', cursive!important;
    font-size : 1.5rem!important;
    flex-grow: 1;
    color: $basic!important;
    margin-left: 1vw!important;
    cursor: default;
}
.basic{
    color: #00e0ca;
}
.btn{
    background: linear-gradient(
        90deg
        ,#00a393,#99fff5 50%);
}
.btn:hover{
    background: linear-gradient(
        90deg,
        #99fff5 50%,#00a393);    
}
.otlbutton{
    transition: all 0.3s linear;
    // font-size: 1rem!important;
}
.otlbutton:hover{
    background-color: $lightBasic!important;
    border-color: $lightBasic!important;
    color: $darkicon;
}

.awsicon{
    font-size: 3rem!important;
    color: white;
    margin-right: 2.2rem;
    transition: all 0.3s linear;
}
.awsicon:hover{
    transform: scale(1.05);
}

.textheaders{
    font-family: $nunito!important;
    // font-size: 2.5rem!important;
    cursor: default;
}

.navigation-links{
    margin-right: 7px;
    z-index: 1;
    .nav-ham-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 1.5rem;
        background: transparent;
        border: none;
        padding: 0;
        right: 1.5rem;
        top: 20px;
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
    .bar-one,
    .bar-two,
    .bar-three{
        width: 1.5rem;
        height: 0.2rem;
        border-radius:10px;
        transition: all 0.4s linear;
        position: relative;
        transform-origin: 1px;
    }

    .bar-one{
        transform:rotate(0);
        background:$basic;
    }
    .bar-two{
        opacity: 1;
        transform:translateX(0);
        background:$basic;
    }
    .bar-three{
        transform:rotate(0);
        background:$basic;
    }
}
.open{
    .bar-one{
        transform:rotate(45deg);
        background:$basic;
    }
    .bar-two{
        opacity: 0;
        transform:translateX(30px);
        background:$basic;
    }
    .bar-three{
        transform:rotate(-45deg);
        background:$basic;
    }
}

.mobile-nav-wrapper {
    z-index: 50;
    width: 100%; 
    display: flex;
    flex-direction: column;
    // background-color:#ffb6c1;
    // background-color:#b788f8;
    background-color: #8ef7ff;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
    right:0px;
    backdrop-filter: blur(0.625rem)!important;

    opacity: 0;
    visibility: hidden;
    height: 0%;
    transition: opacity 0.75s , visibility 0.75s , height 0.75s;
    overflow: hidden;
}

.mobile-nav-wrapper.open{
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.menu-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 0.5rem;
}
.menu-link:hover{
    color: white;
}

// .from-gray-900 {
//     --tw-gradient-from: #302f2f;
//     --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(17,24,39,0));
// }
// .bg-gradient-to-b {
//     background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
// }