@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$basic:#b788f8;
$darkicon:#2e2e2e;

.addWriting{
    font-family: 'Dancing Script', cursive!important;
    font-size : 1.5rem!important;
    flex-grow: 1;
    color: #b788f8!important;
    margin-left: 1vw!important;
    cursor: pointer;
}

.navigation-links{
    margin-right: 7px;
    z-index: 1;
    .nav-ham-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 1.5rem;
        background: transparent;
        border: none;
        padding: 0;
        right: 1.5rem;
        top: 20px;
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
    .bar-one,
    .bar-two,
    .bar-three{
        width: 1.5rem;
        height: 0.2rem;
        border-radius:10px;
        transition: all 0.4s linear;
        position: relative;
        transform-origin: 1px;
    }

    .bar-one{
        transform:rotate(0);
        background:$basic;
    }
    .bar-two{
        opacity: 1;
        transform:translateX(0);
        background:$basic;
    }
    .bar-three{
        transform:rotate(0);
        background:$basic;
    }
}
.open{
    .bar-one{
        transform:rotate(45deg);
        background:$darkicon;
    }
    .bar-two{
        opacity: 0;
        transform:translateX(30px);
        background:$darkicon;
    }
    .bar-three{
        transform:rotate(-45deg);
        background:$darkicon;
    }
}

.mobile-nav-wrapper {
    z-index: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    // background-color:#ffb6c1;
    background-color:#b788f8;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
    right:0px;
    backdrop-filter: blur(0.625rem)!important;

    opacity: 0;
    visibility: hidden;
    height: 0%;
    transition: opacity 0.75s , visibility 0.75s , height 0.75s;
    overflow: hidden;
}

.mobile-nav-wrapper.open{
    opacity: 1;
    visibility: visible;
    height: 100vh;
}

.menu-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 0.5rem;
}
.menu-link:hover{
    color: white;
}